<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>列表展示</title>
</head>
<body>
<div>
    <h2 th:text="${#httpServletRequest.getRequestURL()}">服务器</h2>
    <h2 th:text="${#session.id}">当前sessionId</h2>
    <a th:href="@{/toAdd}">新增</a>
</div>
<table th:each="resume:${lists}">
    <tr>
        <td>地址</td>
        <td>姓名</td>
        <td>电话</td>
    </tr>
    <tr>
        <td th:text="${resume.address}"></td>
        <td th:text="${resume.name}"></td>
        <td th:text="${resume.phone}"></td>
        <td><a th:href="@{/delete(id=${resume.id})}">删除</a></td>
        <td><a th:href="@{/toUpdate(id=${resume.id},address=${resume.address},
        name=${resume.name},phone=${resume.phone})}">修改</a></td>
    </tr>
</table>

</body>
</html>